.img{
    border-radius: 50%;
    width: 20%;
}
.presentacion{
    padding: 10px;
    display: flex;
    justify-content: space-around;
}
.shark{
    padding: 5px;
    display: flex;
    justify-content: center;
}
.btn{
    margin: 3px;
}
.gallery{
    display: flex;
    justify-content: space-around;
    max-width: 100%;
}

